h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    text-align: center;
    background: #FAD7A0;
    margin: 10px;
    padding: 20px;
    border: 5px #D35400 solid;
}

input,textarea{

    font-size: 100%;
    padding: 5px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    border: 3px solid #01DFD7;
}

body{
    text-align: center;
    background-image:url(https://i.ytimg.com/vi/tEcngZM1SWI/maxresdefault.jpg)
    
}


.button {
    background-color: #008CBA;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;

}
