h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
    font-size: 300%;
    text-align: center;
    background: #FAD7A0;
    margin: 10px;
    padding: 20px;
    border: 5px #D35400 solid;
}

input,textarea{

    font-size: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    font-family: Georgia, Times, 'Times New Roman', serif;
    
}

input:focus,textarea:focus{
    border: 1px solid #1668c4;

}
textarea {
    border: 3px solid #01DFD7;
    font-family: Georgia, Times, 'Times New Roman', serif;

}
body{
    text-align: center;
    background-image:url( https://elespaciodelasletras.files.wordpress.com/2015/01/cropped-main-cover_v2.jpg) ;
    
    
}
p   {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
    font-size: 120%;
    color:#2E86C1;
    

}